<h2 class="az-content-title mg-b-20 tx-bold">개발 환경</h2>

<div id="rgb-content1">
	<div class="az-content-label mg-b-5">1. 버전정보</div>
	<div class="table">
       <table class="table az-table-reference">
         <thead>
           <tr>
             <th>버전정보</th>
           </tr>
         </thead>
         <tbody>
         	<tr>
         		<td>
         			＊ JDK 1.8 <br>
         			＊ Spring Framework 4.3.4.RELEASE <br>
         			＊ Egov Framework 3.6.0 <br>
         			＊ MariaDB <br>
         			＊ Nexacro 17 (studio version 17.0.0.2700)
         			
         		</td>
         	</tr>
         </tbody>
       </table>
     </div><!-- table-responsive -->
</div>
