<h2 class="az-content-title mg-b-20 tx-bold">사용자 관리</h2>

<div id="rgb-content1">
	<div class="az-content-label mg-b-5">1. 시스템 구분</div>
	<p class="mg-b-5">GWDS는 시스템 구분(SM1000)을 다음과 같이 정의하고 있습니다.</p>
	<div class="table">
       <table class="table az-table-reference">
         <thead>
           <tr>
             <th class="wd-20p">코드</th>
             <th class="wd-70p">설명</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td><code>GWDS</code></td>
             <td>창고&배송 시스템</td>
           </tr>
           <tr>
             <td><code>GWMS</code></td>
             <td>창고 시스템</td>
           </tr>
           <tr>
             <td><code>GDS</code></td>
             <td>베송 시스템</td>
           </tr>
         </tbody>
       </table>
     </div><!-- table-responsive -->
     
     <p class="mg-b-20">
     	시스템 구분은 시스템관리자(ADMIN) 등록시  지정하게 되며 각 항목별로 시스템관리자에게 부여되는 기본메뉴는 다음과 같습니다.<br>
     	<span class="tx-danger">※ 아래 메뉴는 RGB시스템관리자(SUPER)가 변경 가능합니다.</span>
     </p>
     <div class="table mg-t-10">
       <table class="table az-table-reference">
         <thead>
           <tr>
             <th class="wd-20p">코드</th>
             <th class="wd-30p">대메뉴</th>
             <th class="wd-40p">중메뉴</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td rowspan=28 class="align-middle"><code>GWDS</code></td>
             <td rowspan=8 class="align-middle">기준정보관리</td>
             <td>집배구역관리</td>
           </tr>
           <tr>
             <td>점소관리</td>
           </tr>
           <tr>
             <td>창고관리</td>
           </tr>
           <tr>
           	 <td>존/로케이션/랙관리</td>
           </tr>
           <tr>
           	 <td>품목그룹관리</td>
           </tr>
           <tr>
           	 <td>품목관리</td>
           </tr>
           <tr>
           	 <td>고객사관리</td>
           </tr>
           <tr>
           	 <td>사용자관리</td>
           </tr>
           <tr>
             <td rowspan=7 class="align-middle">배송관리</td>
             <td>집배출발등록</td>
           </tr>
           <tr>
             <td>기업고객 건별접수</td>
           </tr>
           <tr>
             <td>기업고객 파일접수</td>
           </tr>
           <tr>
           	 <td>미배송사유등록</td>
           </tr>
           <tr>
           	 <td>미배송현황</td>
           </tr>
           <tr>
           	 <td>상품추적</td>
           </tr>
           <tr>
           	 <td>작업지시</td>
           </tr>
           <tr>
             <td rowspan=2 class="align-middle">주문관리</td>
             <td>주문접수</td>
           </tr>
           <tr>
           	 <td>주문확정</td>
           </tr>
           <tr>
             <td rowspan=2 class="align-middle">입고관리</td>
             <td>입고예정</td>
           </tr>
           <tr>
           	 <td>입고확정</td>
           </tr>
           <tr>
             <td rowspan=3 class="align-middle">출고관리</td>
             <td>출고관리(할당)</td>
           </tr>
           <tr>
           	 <td>출고관리(피킹)</td>
           </tr>
           <tr>
           	 <td>출고확정</td>
           </tr>
           <tr>
             <td rowspan=4 class="align-middle">재고관리</td>
             <td>재고조회</td>
           </tr>
           <tr>
           	 <td>재고이동</td>
           </tr>
           <tr>
           	 <td>재고수량조정</td>
           </tr>
           <tr>
           	 <td>입/출고내역</td>
           </tr>
           <tr>
             <td rowspan=2 class="align-middle">시스템관리</td>
             <td>권한별메뉴관리</td>
           </tr>
           <tr>
           	 <td>공지사항관리</td>
           </tr>
           
           
           <tr>
             <td rowspan=19 class="align-middle"><code>GWMS</code></td>
             <td rowspan=6 class="align-middle">기준정보관리</td>
             <td>품목그룹관리</td>
           </tr>
           <tr>
             <td>창고관리</td>
           </tr>
           <tr>
           	 <td>존/로케이션/랙관리</td>
           </tr>
           <tr>
           	 <td>품목관리</td>
           </tr>
           <tr>
           	 <td>고객사관리</td>
           </tr>
           <tr>
           	 <td>사용자관리</td>
           </tr>
           <tr>
             <td rowspan=2 class="align-middle">주문관리</td>
             <td>주문접수</td>
           </tr>
           <tr>
           	 <td>주문확정</td>
           </tr>
           <tr>
             <td rowspan=2 class="align-middle">입고관리</td>
             <td>입고예정</td>
           </tr>
           <tr>
           	 <td>입고확정</td>
           </tr>
           <tr>
             <td rowspan=3 class="align-middle">출고관리</td>
             <td>출고관리(할당)</td>
           </tr>
           <tr>
           	 <td>출고관리(피킹)</td>
           </tr>
           <tr>
           	 <td>출고확정</td>
           </tr>
           <tr>
             <td rowspan=4 class="align-middle">재고관리</td>
             <td>재고조회</td>
           </tr>
           <tr>
           	 <td>재고이동</td>
           </tr>
           <tr>
           	 <td>재고수량조정</td>
           </tr>
           <tr>
           	 <td>입/출고내역</td>
           </tr>
           <tr>
             <td rowspan=2 class="align-middle">시스템관리</td>
             <td>권한별메뉴관리</td>
           </tr>
           <tr>
           	 <td>공지사항관리</td>
           </tr>
           
           
           <tr>
             <td rowspan=14 class="align-middle"><code>GWDS</code></td>
             <td rowspan=4 class="align-middle">기준정보관리</td>
             <td>집배구역관리</td>
           </tr>
           <tr>
             <td>점소관리</td>
           </tr>
           <tr>
           	 <td>고객사관리</td>
           </tr>
           <tr>
           	 <td>사용자관리</td>
           </tr>
           <tr>
             <td rowspan=7 class="align-middle">배송관리</td>
             <td>집배출발등록</td>
           </tr>
           <tr>
             <td>기업고객 건별접수</td>
           </tr>
           <tr>
             <td>기업고객 파일접수</td>
           </tr>
           <tr>
           	 <td>미배송사유등록</td>
           </tr>
           <tr>
           	 <td>미배송현황</td>
           </tr>
           <tr>
           	 <td>상품추적</td>
           </tr>
           <tr>
           	 <td>작업지시</td>
           </tr>
           <tr>
             <td rowspan=2 class="align-middle">시스템관리</td>
             <td>권한별메뉴관리</td>
           </tr>
           <tr>
           	 <td>공지사항관리</td>
           </tr>
           
         </tbody>
       </table>
     </div><!-- table-responsive -->
</div>

<hr class="mg-y-60">

<div id="rgb-content2">
	<div class="az-content-label mg-b-5">2. 사용자 유형</div>
	<p class="mg-b-5">GWDS는 사용자 유형(SM998)을 다음과 같이 정의하고 있습니다.</p>
	<div class="table">
       <table class="table az-table-reference">
         <thead>
           <tr>
             <th class="wd-20p">코드</th>
             <th class="wd-70p">설명</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td><code>SUPER</code></td>
             <td>시스템관리자용</td>
           </tr>
           <tr>
             <td><code>ADMIN</code></td>
             <td>업체직원용(시스템관리자)으로 시스템계약시 최초 계정1개 부여</td>
           </tr>
           <tr>
             <td><code>M01</code></td>
             <td>업체직원용(창고&배송담당자)으로 시스템관리자(ADMIN)가 관리</td>
           </tr>
           <tr>
             <td><code>M02</code></td>
             <td>업체직원용(창고담당자)으로 시스템관리자(ADMIN)가 관리</td>
           </tr>
           <tr>
             <td><code>M03</code></td>
             <td>업체직원용(배송담당자)으로 시스템관리자(ADMIN)가 관리</td>
           </tr>
           <tr>
             <td><code>U01</code></td>
             <td>업체직원용(외부사용자)으로 시스템관리자(ADMIN)가 관리 - 화주(물건의 주인) 또는 발송고객이 이에 해당.</td>
           </tr>
         </tbody>
       </table>
     </div><!-- table-responsive -->
     
     <div>
       <img src="../../img/user2.png" class="img-fluid" alt="Responsive image">
     </div>
  
</div>

<hr class="mg-y-60">

<div id="rgb-content3">
	<div class="az-content-label mg-b-5">3. 비밀번호</div>
	<p class="mg-b-5">
		관리자가 계정등록시 임시비밀번호는 기초코드(SM1001)의 코드명에 정의되어 있으며 해당 계정 사용자가 접속시 비밀번호를 변경합니다.<br> 최초 1번 변경가능하며 이후 변경을 원할경우 [사용자 관리]화면에서 초기화기능으로 변경가능합니다.<br>변경시 비밀번호의 유효성 체크사항은 다음과 같습니다.<br>
	</p>
	<ul class="pd-l-20">
		<li>
			비밀번호와 비밀번호 재확인 비교
		</li>
		<li>
			공백 문자 사용 금지
		</li>
		<li>
			비밀번호는 8자 이상
		</li>
		<li>
			숫자 +영문+특수문자의 조합
		</li>
		<li>
			아이디와 4자리 이상 동일한 비밀번호 사용 금지
		</li>
		<li>
			비밀번호에 4자리 이상 반복되는 문자나 숫자 사용 금지
		</li>
	</ul>
	
</div>

<hr class="mg-y-60">