<div class="intro">
	<h2 class="az-content-title mg-b-20 tx-bold">고객사 상세관리</h2>
	<p class="mg-b-20">
	기등록된 배송 고객사의 발송고객 & 계약을 관리하는 화면입니다.<br>
	<br>
	</p>
</div>

<div id="rgb-baim2-content1">
	<div class="az-content-label mg-b-5">1. 조회하기</div>
	<small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 조회목록의 필터링을 원하실땐 조회조건을 입력합니다. <br>
		<span class="tx-success tx-bold"> > STEP-2</span> 상단의 조회(F2)버튼을 클릭하여 조회합니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/baim2-1.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
</div>

<hr class="mg-y-40">

<div id="rgb-baim2-content2">   
    <div class="az-content-label mg-b-5">2. 거래구분 저장하기</div>
    <small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 고객사 목록에서 대상을 선택한 후 기본정보의 [거래처구분]필드에 값을 선택합니다.<br>
		<span class="tx-success tx-bold"> > STEP-2</span> 상단의 저장(F4)버튼을 클릭하여 저장합니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/baim2-2.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
</div>

<hr class="mg-y-40">

<div id="rgb-baim2-content3">   
    <div class="az-content-label mg-b-5">3. 발송고객 등록하기</div>
    <small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 고객사 목록에서 대상을 선택한 후 "발송고객등록" 버튼을 클릭합니다. <br>
	</small>
	
	<div class="mg-t-10 mg-b-15">
    	<img src="../../img/user/baim2-3.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <small class="mg-t-20">
		<span class="tx-warning tx-bold"> > STEP-2</span> 상단의 신규버튼을 클릭하여 행을 추가하고 발송고객 정보를 입력합니다. <br>
		<span class="tx-success tx-bold"> > STEP-3</span> 상단의 저장버튼을 클릭하여 저장합니다. <br>
	</small>
	
	<div class="mg-t-10">
    	<img src="../../img/user/baim2-4.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
</div>


<hr class="mg-y-40">

<div id="rgb-baim2-content4">   
    <div class="az-content-label mg-b-5">4. 계약 등록하기</div>
    <small>
		<span class="tx-primary tx-bold"> > STEP-1</span> [고객사 상세관리]화면 또는 [발송고객등록]화면에서 대상을 선택한 후 "계약등록" 버튼을 클릭합니다. <br>
	</small>
	
	<div class="mg-t-10 mg-b-15">
    	<img src="../../img/user/baim2-5.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <small class="mg-t-20">
		<span class="tx-warning tx-bold"> > STEP-2</span> 상단의 신규버튼을 클릭하여 행을 추가하고 계약 정보를 입력합니다. <br>
		<span class="tx-success tx-bold"> > STEP-3</span> 상단의 저장버튼을 클릭하여 저장합니다. <br>
	</small>
	
	<div class="mg-t-10">
    	<img src="../../img/user/baim2-6.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
</div>

<hr class="mg-y-40">

<div id="rgb-baim2-content5">   
    <div class="az-content-label mg-b-5">5. 계약품목 등록하기</div>
    <small>
		<span class="tx-primary tx-bold"> > STEP-1</span> [계약등록]화면에서 "계약품목" 버튼을 클릭합니다. <br>
	</small>
	
	<div class="mg-t-10 mg-b-15">
    	<img src="../../img/user/baim2-7.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <small>
		<span class="tx-warning tx-bold"> > STEP-2</span> 상단의 신규버튼을 클릭하여 행을 추가하고 품목 정보를 입력합니다. <br>
		<span class="tx-success tx-bold"> > STEP-3</span> 상단의 저장버튼을 클릭하여 저장합니다. <br>
	</small>
	
	<div class="mg-t-10 mg-b-15">
    	<img src="../../img/user/baim2-8.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
</div>

<hr class="mg-y-40">

<div id="rgb-baim2-content6">   
    <div class="az-content-label mg-b-5">6. 계약단가 등록하기</div>
    <small>
		<span class="tx-primary tx-bold"> > STEP-1</span> [계약등록]화면에서 "계약단가" 버튼을 클릭합니다. <br>
	</small>
	
	<div class="mg-t-10 mg-b-15">
    	<img src="../../img/user/baim2-9.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <small>
		<span class="tx-warning tx-bold"> > STEP-2</span> 상단의 신규버튼을 클릭하여 행을 추가하고 계약단가 정보를 입력합니다. <br>
		<span class="tx-success tx-bold"> > STEP-3</span> 상단의 저장버튼을 클릭하여 저장합니다. <br>
	</small>
	
	<div class="mg-t-10 mg-b-15">
    	<img src="../../img/user/baim2-10.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
</div>

<hr class="mg-y-40">

<div id="rgb-baim2-content7">   
    <div class="az-content-label mg-b-5">7. 계약 갱신하기</div>
    <small>
		<span class="tx-primary tx-bold"> > STEP-1</span> [계약등록]화면에서 "계약갱신" 버튼을 클릭합니다. <br>
	</small>
	
	<div class="mg-t-10 mg-b-15">
    	<img src="../../img/user/baim2-11.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <small>
		<span class="tx-success tx-bold"> > STEP-2</span> 나타나는 팝업창에서 확인버튼을 클릭하면 현재 계약 종료일을 기준으로 계약기간이 1년 연장됩니다. <br>
	</small>
	
	<div class="mg-t-10 mg-b-15">
    	<img src="../../img/user/baim2-12.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
</div>
