<div class="intro">
	<h2 class="az-content-title mg-b-20 tx-bold">존/로케이션/랙 관리</h2>
	<p class="mg-b-20">
	존/로케이션/랙을 관리하는 화면입니다.<br>
	<br>
	</p>
</div>

<div id="rgb-baim5-content1">
	<div class="az-content-label mg-b-5">1. 신규 존/로케이션/랙 생성하기</div>
	<small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 새로운 존/로케이션/랙 추가를 원하실 경우 각 그리드 상단의 신규 버튼을 클릭하여 행을 추가합니다. <br>
		<span class="tx-warning tx-bold"> > STEP-2</span> 각 그리드에 추가된 행에 정보를 입력합니다. 존 그리드의 [창고]필드에 돋보기를 선택하여 팝업창에서 기 등록된 창고를 선택할 수 있습니다.<br>
		<span class="tx-success tx-bold"> > STEP-3</span> 정보입력을 완료하셨다면 상단의 저장(F4)버튼을 클릭하여 저장합니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/baim5-1.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <div class="az-content-label mg-t-30">※ 필드설명1 - 존/로케이션/랙 코드</div>
    <small> 
    	각 [코드]필드는 중복으로 저장하실 수 없습니다.<br>
    </small>
</div>

<hr class="mg-y-40">

<div id="rgb-baim5-content2">
	<div class="az-content-label mg-b-5">2. 조회하기</div>
	<small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 조회목록의 필터링을 원하실땐 조회조건을 입력합니다. 창고의 경우 관리자가 아니면 계정에 부여된 창고권한만 나타납니다.<br>
		<span class="tx-success tx-bold"> > STEP-2</span> 상단의 조회(F2)버튼을 클릭하여 조회합니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/baim5-2.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
</div>

<hr class="mg-y-40">

<div id="rgb-baim5-content3">
	<div class="az-content-label mg-b-5">3. 삭제하기</div>
	<small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 상단의 조회(F2)버튼을 클릭하여 대상을 조회합니다. <br>
		<span class="tx-success tx-bold"> > STEP-2</span> 대상을 그리드에서 체크한뒤 그리드 상단의 삭제버튼을 클릭하여 대상을 삭제합니다. <br>
		※ 존을 삭제하는 경우 해당 존의 로케이션,랙 정보가 모두 삭제되고 , 로케이션을 삭제하는 경우 해당 로케이션의 랙 정보가 모두 삭제됩니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/baim5-3.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
</div>
