<div class="intro">
	<h2 class="az-content-title mg-b-20 tx-bold">창고 관리</h2>
	<p class="mg-b-20">
	창고를 관리하는 화면입니다.<br>
	<br>
	</p>
</div>

<div id="rgb-baim4-content1">
	<div class="az-content-label mg-b-5">1. 신규 창고 생성하기</div>
	<small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 새로운 창고 추가를 원하실 경우 상단의 신규(F3)버튼을 클릭하여 행을 추가합니다. <br>
		<span class="tx-warning tx-bold"> > STEP-2</span> 창고 기본정보를 입력합니다. <span class="tx-warning tx-bold">노란색필드</span>는 필수입력입니다. <br>
		<span class="tx-success tx-bold"> > STEP-3</span> 기본정보입력을 완료하셨다면 상단의 저장(F4)버튼을 클릭하여 저장합니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/baim4-1.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <div class="az-content-label mg-t-30">※ 필드설명1 - 창고코드</div>
    <small> 
    	[창고코드]는 중복으로 저장하실 수 없습니다.<br>
    </small>
    
    
    
</div>

<hr class="mg-y-40">

<div id="rgb-baim4-content2">
	<div class="az-content-label mg-b-5">2. 조회하기</div>
	<small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 상단의 조회조건에 조회할 점소를 입력합니다. <br>
		<span class="tx-success tx-bold"> > STEP-2</span> 상단의 조회(F2)버튼을 클릭하여 조회합니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/baim4-2.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
</div>

<hr class="mg-y-40">

<div id="rgb-baim4-content3">
	<div class="az-content-label mg-b-5">3. 삭제하기</div>
	<small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 상단의 조회(F2)버튼을 클릭하여 대상을 조회합니다. <br>
		<span class="tx-success tx-bold"> > STEP-2</span> 대상을 그리드에서 체크한뒤 상단의 삭제(F5)버튼을 클릭하여 대상을 삭제합니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/baim4-3.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
</div>
