<div class="intro">
	<h2 class="az-content-title mg-b-20 tx-bold">사용자 관리</h2>
	<p class="mg-b-20">
	사용자를 관리하는 화면입니다.<br>
	<br>
	</p>
</div>

<div id="rgb-baim8-content1">
	<div class="az-content-label mg-b-5">1. 사용자 생성하기</div>
	<small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 새로운 사용자 추가를 원하실 경우 상단의 신규(F3)버튼을 클릭하여 행을 추가합니다. <br>
		<span class="tx-warning tx-bold"> > STEP-2</span> 사용자 기본정보를 입력합니다. <span class="tx-warning tx-bold">노란색필드</span>는 필수입력입니다. <br>
		<span class="tx-success tx-bold"> > STEP-3</span> 정보입력을 완료하셨다면 상단의 저장(F4)버튼을 클릭하여 저장합니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/baim8-1.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <div class="az-content-label mg-t-30">※ 필드설명1 - 아이디</div>
    <small> 
    	[아이디]필드는 중복으로 저장하실 수 없으며 저장전 중복체크를 해주세요.<br>
    </small>
    
    <div class="az-content-label mg-t-30">※ 필드설명2 - 임시비밀번호</div>
    <small>
    	사용자를 생성하면 최초에 임시 비밀번호를 부여하고 해당 사용자가 접속하여 비밀번호를 변경하도록 되어있습니다. 
    </small>
    
    <div class="az-content-label mg-t-30">※ 필드설명3 - 사용자 유형</div>
    <small>
    	[사용자 유형] 필드의 값에 따라 필수 입력 필드가 달라집니다. <br>
    	1) "창고&배송담당자" 또는 "배송담당자" 인경우 [점소]필드가 활성화 됩니다. <br>
    	2) "외부사용자"는 화주 또는 배송고객을 의미하며 [고객사]필드가 활성화 됩니다. <br>
    </small>
</div>

<hr class="mg-y-40">

<div id="rgb-baim8-content2">
	<div class="az-content-label mg-b-5">2. 사용자 권한관리 (메뉴권한)</div>
	<small>
		＊ 사용자별 [권한관리]필드는 신규로 등록할 경우 저장한 후에 활성화 됩니다.<br>
		<span class="tx-primary tx-bold"> > STEP-1</span> 상단의 조회(F2)버튼을 클릭하여 조회합니다. <br>
		<span class="tx-warning tx-bold"> > STEP-2</span> 권한을 부여할 사용자를 목록에서 선택합니다. <br>
		<span class="tx-warning tx-bold"> > STEP-3</span> 메뉴권한 버튼을 클릭합니다. <br>
	</small>
	
	<div class="mg-t-25 mg-b-20">
    	<img src="../../img/user/baim8-2.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <small>
		<span class="tx-warning tx-bold"> > STEP-4</span> 기 등록된 메뉴권한 목록이 나타나고 부여할 권한을 체크합니다. <br>
		<span class="tx-success tx-bold"> > STEP-5</span> 오른쪽 방향 버튼을 클릭하면 권한이 부여가 됩니다. 다중권한 부여도 가능합니다.<br>
	</small>
	<img src="../../img/user/baim8-3.png" class="img-thumbnail wd-100p wd-sm-400 mg-t-10" alt="Responsive image"><br>
    
</div>

<hr class="mg-y-40">

<div id="rgb-baim8-content3">
	<div class="az-content-label mg-b-5">3. 사용자 권한관리 (창고권한)</div>
	<small>
		＊ 사용자별 [권한관리]필드는 신규로 등록할 경우 저장한 후에 활성화 됩니다.<br>
		＊ 창고권한은 [사용자유형]필드가  "창고담당자" 또는 "외부사용자"인 경우 활성화 됩니다. <br>
		<span class="tx-primary tx-bold"> > STEP-1</span> 상단의 조회(F2)버튼을 클릭하여 조회합니다. <br>
		<span class="tx-warning tx-bold"> > STEP-2</span> 권한을 부여할 사용자를 목록에서 선택합니다. <br>
		<span class="tx-warning tx-bold"> > STEP-3</span> 창고권한 버튼을 클릭합니다. <br>
	</small>
	
	<div class="mg-t-25 mg-b-20">
    	<img src="../../img/user/baim8-4.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <small>
		<span class="tx-warning tx-bold"> > STEP-4</span> 기 등록된 창고 목록이 나타나고 부여할 창고룰 체크합니다. <br>
		<span class="tx-success tx-bold"> > STEP-5</span> 오른쪽 방향 버튼을 클릭하면 권한이 부여가 됩니다. 다중권한 부여도 가능합니다.<br>
	</small>
	<img src="../../img/user/baim8-5.png" class="img-thumbnail wd-100p wd-sm-400 mg-t-10" alt="Responsive image"><br>
    
</div>

<hr class="mg-y-40">

<div id="rgb-baim8-content4">
	<div class="az-content-label mg-b-5">4. 사용자 권한관리 (창고고객권한)</div>
	<small>
		＊ 사용자별 [권한관리]필드는 신규로 등록할 경우 저장한 후에 활성화 됩니다.<br>
		＊ 창고고객권한은 [사용자유형]필드가  "창고담당자" 또는 "외부사용자"인 경우 활성화 됩니다. <br>
		<span class="tx-primary tx-bold"> > STEP-1</span> 상단의 조회(F2)버튼을 클릭하여 조회합니다. <br>
		<span class="tx-warning tx-bold"> > STEP-2</span> 권한을 부여할 사용자를 목록에서 선택합니다. <br>
		<span class="tx-warning tx-bold"> > STEP-3</span> 창고고객권한 버튼을 클릭합니다. <br>
	</small>
	
	<div class="mg-t-25 mg-b-20">
    	<img src="../../img/user/baim8-6.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <small>
		<span class="tx-warning tx-bold"> > STEP-4</span> 기 등록된 고객사 목록이 나타나고 부여할 고객사를 체크합니다. <br>
		<span class="tx-success tx-bold"> > STEP-5</span> 오른쪽 방향 버튼을 클릭하면 권한이 부여가 됩니다. 다중권한 부여도 가능합니다.<br>
	</small>
	<img src="../../img/user/baim8-7.png" class="img-thumbnail wd-100p wd-sm-400 mg-t-10" alt="Responsive image"><br>
    
</div>

<hr class="mg-y-40">

<div id="rgb-baim8-content5">
	<div class="az-content-label mg-b-5">5. 삭제하기</div>
	<small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 상단의 조회(F2)버튼을 클릭하여 대상을 조회합니다. <br>
		<span class="tx-success tx-bold"> > STEP-2</span> 대상을 그리드에서 체크한뒤 상단의 삭제(F5)버튼을 클릭하여 대상을 삭제합니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/baim8-8.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
</div>

<hr class="mg-y-40">

<div id="rgb-baim8-content6">
	<div class="az-content-label mg-b-5">6. 비밀번호 초기화하기</div>
	<small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 상단의 조회(F2)버튼을 클릭하여 대상을 조회합니다. <br>
		<span class="tx-success tx-bold"> > STEP-2</span> 대상을 그리드에서 선택한뒤 초기화 버튼을 클릭하여 비밀번호를 초기화합니다. <br>
		※ 초기 비밀번호는 시스템 내부에서 관리하고 있으며 변경을 원하실 경우 연락주시길 바랍니다. 
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/baim8-9.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
</div>
