<div class="intro">
	<h2 class="az-content-title mg-b-20 tx-bold">집배구역 관리</h2>
	<p class="mg-b-20">
	집배구역을 관리하는 화면입니다.<br>
	<br>
	</p>
</div>

<div id="rgb-baim9-content1">
	<div class="az-content-label mg-b-5">1. 조회하기</div>
	<small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 조회목록의 필터링을 원하실땐 조회조건을 입력합니다. <span class="tx-warning tx-bold">노란색필드</span>는 필수입력입니다. <br>
		<span class="tx-success tx-bold"> > STEP-2</span> 상단의 조회(F2)버튼을 클릭하여 조회합니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/baim9-1.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
</div>

<hr class="mg-y-40">


<div id="rgb-baim9-content2">
	<div class="az-content-label mg-b-5">2. 집배정보 설정하기</div>
	<small>
		2-1. 집배점소 설정방법<br>
		<span class="tx-primary tx-bold"> > STEP-1</span> 먼저 그리드 목록에서 정보입력하려는 행을 체크합니다.  <br>
		<span class="tx-success tx-bold"> > STEP-2</span> 우측 점소그리드 상단의 돋보기버튼을 클릭하여 등록된 점소를 조회하여 선택합니다. <br>
	</small>
	<div class="mg-t-25 mg-b-20">
    	<img src="../../img/user/baim9-2.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <small>
		<span class="tx-warning tx-bold"> > STEP-3(A)</span> 점소그리드 목록에 나타난 점소중 하나를 더블클릭하면  좌측그리드의 집하점소, 배송점소에 클릭한 점소내용이 입력됩니다.<br>
	</small>
	<div class="mg-t-10 mg-b-20">
    	<img src="../../img/user/baim9-3.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <small>
		<span class="tx-warning tx-bold"> > STEP-3(B)</span> [집하점소],[배송점소]필드중 하나의 필드에만 입력을 원하시는경우 해당필드 행의 빈칸을 마우스로 클릭합니다. <br>
	</small>
	<div class="mg-t-10 mg-b-20">
    	<img src="../../img/user/baim9-4.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <small>
		<span class="tx-warning tx-bold"> > STEP-4(A)</span> 나머지 집배구역정보를 그리드상에서 입력합니다. <br>
	</small>
	<div class="mg-t-10 mg-b-20">
    	<img src="../../img/user/baim9-5.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <small>
		<span class="tx-warning tx-bold"> > STEP-4(B)</span> 다중 입력을 원하시면 여러행을 체크한 뒤 그리드 상단의 필드값을 변경하면 체크된 행에 값이 입력됩니다. <br>
	</small>
	<div class="mg-t-10 mg-b-20">
    	<img src="../../img/user/baim9-6.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <small>
		<span class="tx-warning tx-bold"> > STEP-5</span> 전체 내역을 저장하시려면 상세정보저장 버튼을, 집/배점소 정보만 변경하시려면 구역변경저장 버튼을 클릭합니다. <br>
	</small>
	<div class="mg-t-10 mg-b-20">
    	<img src="../../img/user/baim9-7.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
</div>