<div class="intro">
	<h2 class="az-content-title mg-b-20 tx-bold">고객사 관리</h2>
	<p class="mg-b-20">
	고객사를 관리하는 화면입니다.<br>
	<br>
	</p>
</div>

<div id="rgb-baim1-content1">
	<div class="az-content-label mg-b-5">1. 신규 고객사 생성하기</div>
	<small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 새로운 고객사 추가를 원하실 경우 상단의 신규(F3)버튼을 클릭하여 행을 추가합니다. <br>
		<span class="tx-warning tx-bold"> > STEP-2</span> 고객사 기본정보를 입력합니다. <span class="tx-warning tx-bold">노란색필드</span>는 필수입력입니다. <br>
		<span class="tx-success tx-bold"> > STEP-3</span> 기본정보입력을 완료하셨다면 상단의 저장(F4)버튼을 클릭하여 저장합니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/baim1-1.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <div class="az-content-label mg-t-30">※ 필드설명1 - 고객사코드</div>
    <small> 고객사코드는 저장시 자동발번됩니다.</small>
    
    <div class="az-content-label mg-t-30">※ 필드설명2 - 고객사구분</div>
    <small> 고객사 구분이 "공통고객" 또는 "배송고객"으로 등록된 경우 [고객사 상세관리]화면에 조회됩니다.</small>
	<div class="table">
       <table class="table az-table-reference">
         <thead>
           <tr>
             <th class="wd-20p">항목</th>
             <th class="wd-70p">설명</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td><code>[공통고객]</code></td>
             <td>
             	고객사가 화주이면서 배송도 담당하는경우   
             </td>
           </tr>
           <tr>
             <td><code>[창고고객]</code></td>
             <td>
             	고객사가 화주인경우
             </td>
           </tr>
           <tr>
             <td><code>[배송고객]</code></td>
             <td>
             	고객사가 배송을 담당하는경우
             </td>
           </tr>
         </tbody>
       </table>
     </div><!-- table-responsive -->
    
</div>

<hr class="mg-y-40">

<div id="rgb-baim1-content2">   
    <div class="az-content-label mg-b-5">2. 조회하기</div>
    <small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 조회목록의 필터링을 원하실땐 조회조건을 입력합니다. <br>
		<span class="tx-success tx-bold"> > STEP-2</span> 상단의 조회(F2)버튼을 클릭하여 조회합니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/baim1-2.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
</div>

<hr class="mg-y-40">

<div id="rgb-baim1-content3">   
    <div class="az-content-label mg-b-5">3. 삭제하기</div>
    <small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 상단의 조회(F2)버튼을 클릭하여 대상을 조회합니다. <br>
		<span class="tx-success tx-bold"> > STEP-2</span> 대상을 그리드에서 체크한뒤 상단의 삭제(F5)버튼을 클릭하여 대상을 삭제합니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/baim1-3.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
</div>
