<div class="intro">
	<h2 class="az-content-title mg-b-20 tx-bold">권한별 메뉴관리</h2>
	<p class="mg-b-20">
	메뉴별 권한을 설정하는 화면입니다.<br>
	관리자가 직접 사용자마다 메뉴를 다르게 나타나도록 설정할 수 있습니다.<br>
	</p>
</div>

<div id="rgb-system1-content1">
	<div class="az-content-label mg-b-5">1. 신규 권한 생성하기</div>
	<small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 새로운 권한메뉴추가를 원하실경우 상단의 신규(F3)버튼을 클릭하여 행을 추가합니다. <br>
		<span class="tx-warning tx-bold"> > STEP-2</span> 행이 추가되면 그리드의 노란색필드(필수)에 값을 입력합니다.  <br>
		<span class="tx-success tx-bold"> > STEP-3</span> 입력을 완료하셨으면 상단의 저장(F4)버튼을 클릭하여 저장합니다.  <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/system1-1.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
</div>

<hr class="mg-y-40">

<div id="rgb-system1-content2">	
	<div class="az-content-label mg-b-5">2. 생성된 권한에 메뉴 부여하기</div>
	<small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 생성한 권한 목록중 그리드에서 마우스로 선택합니다. <br>
		<span class="tx-warning tx-bold"> > STEP-2</span> 권한을 선택하면 하단의 메뉴리스트에 부여가능한 메뉴가 나타나며 부여할 메뉴를 체크합니다. <br>
		<span class="tx-success tx-bold"> > STEP-3</span> 오른쪽(&gt;) 화살표 버튼을 클릭하면 체크된 메뉴가 부여됩니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/system1-2.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    	<img src="../../img/user/system1-3.png" class="img-thumbnail wd-100p wd-sm-800 mg-t-10" alt="Responsive image">
    </div>
</div>

<hr class="mg-y-40">

<div id="rgb-system1-content3">   
    <div class="az-content-label mg-b-5">3. 부여된 메뉴 제거하기</div>
	<small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 생성한 권한 목록중 그리드에서 마우스로 선택합니다. <br>
		<span class="tx-warning tx-bold"> > STEP-2</span> 권한을 선택하면 하단의 권한 메뉴리스트에 부여된 메뉴목록이 나타나며 권한에서 제거할 메뉴를 체크합니다. <br>
		<span class="tx-success tx-bold"> > STEP-3</span> 왼쪽(&lt;) 화살표 버튼을 클릭하면 체크된 메뉴가 권한에서 제거됩니다. <br>
	</small>
    
	<div class="mg-t-25">
    	<img src="../../img/user/system1-4.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    	<img src="../../img/user/system1-5.png" class="img-thumbnail wd-100p wd-sm-800 mg-t-10" alt="Responsive image">
    </div>
</div>

<hr class="mg-y-40">

<div id="rgb-system1-content4">   
    <div class="az-content-label mg-b-5">4. 조회하기</div>
    <small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 조회목록의 필터링을 원하실땐 조회조건을 입력합니다. <br>
		<span class="tx-success tx-bold"> > STEP-2</span> 상단의 조회(F2)버튼을 클릭하여 조회합니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/system1-6.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
</div>

<hr class="mg-y-40">

<div id="rgb-system1-content5">  
    <div class="az-content-label mg-b-5">5. 사용안함 처리하기</div>
    <small>
    	일시적인 사용을 막으려면 사용안함으로 처리합니다. <br>
		<span class="tx-primary tx-bold"> > STEP-1</span> 상단의 조회(F2)버튼을 클릭하여 대상을 조회합니다. <br>
		<span class="tx-warning tx-bold"> > STEP-2</span> 대상을 그리드에서 체크한뒤 사용여부필드를 "사용안함"으로 변경합니다. <br>
		<span class="tx-success tx-bold"> > STEP-3</span> 상단의 저장(F4)버튼을 클릭하여 저장합니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/system1-7.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
</div>

<hr class="mg-y-40">

<div id="rgb-system1-content6">   
    <div class="az-content-label mg-b-5">6. 삭제하기</div>
    <small>
    	사용을 막고 목록에서 제거하려면 삭제 처리합니다. <br>
		<span class="tx-primary tx-bold"> > STEP-1</span> 상단의 조회(F2)버튼을 클릭하여 대상을 조회합니다. <br>
		<span class="tx-success tx-bold"> > STEP-2</span> 대상을 그리드에서 체크한뒤 상단의 삭제(F5)버튼을 클릭하여 대상을 삭제합니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/system1-8.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
</div>
