<div class="intro">
	<h2 class="az-content-title mg-b-20 tx-bold">입고예정</h2>
	<p class="mg-b-20">
	기본적인 기능은 사용자 직접입력과 엑셀업로드 방식이 있으며 인터페이스는 협의을 통해 진행됩니다.  
	<br>
	</p>
</div>

<div id="rgb-whib1-content1">
	<div class="az-content-label mg-b-5">1. 입고예정정보 생성하기(직접입력)</div>
	<small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 새로운 입고예정정보 추가를 원하실 경우 상단의 신규(F3)버튼을 클릭하여 행을 추가합니다. (조회조건의 창고와 고객에 값이 설정되어있지 않다면 먼저 설정하라는 메시지가 나타나며 입고하려는 창고와 고객을 설정합니다.)<br>
		<span class="tx-warning tx-bold"> > STEP-2</span> 그리드에서 추가된 행에 입고예정정보를 기입합니다.<br>
		<span class="tx-success tx-bold"> > STEP-3</span> 입력을 완료하셨다면 상단의 저장(F4)버튼을 클릭하여 저장합니다. <br>
	</small>
	
	<div class="mg-t-25">
    	<img src="../../img/user/whib1-1.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
</div>

<hr class="mg-y-40">

<div id="rgb-whib1-content2">   
    <div class="az-content-label mg-b-5">2. 입고예정정보 생성하기(엑셀업로드)</div>
    <small>
		<span class="tx-primary tx-bold"> > STEP-1</span> 엑셀로 입고예정정보 추가를 원하실 경우 하단의 엑셀 양식 버튼을 클릭합니다. (조회조건의 창고와 고객에 값이 설정되어있지 않다면 먼저 설정하라는 메시지가 나타나며 입고하려는 창고와 고객을 설정합니다.)<br>
	</small>
	<div class="mg-t-25  mg-b-20">
    	<img src="../../img/user/whib1-2.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <small>
		<span class="tx-warning tx-bold"> > STEP-2-1</span> 나타나는 [고객레이아웃]팝업창에서 상단의 신규버튼을 클릭합니다. <br>
		<span class="tx-warning tx-bold"> > STEP-2-2</span> 그리드의 추가되는 행에 [형식명]필드를 입력합니다. <br>
		<span class="tx-warning tx-bold"> > STEP-2-3</span> 엑셀로 관리할 필드를 체크합니다. <br>
		<span class="tx-warning tx-bold"> > STEP-2-4</span> 오른쪽 화살표 버튼을 클릭합니다. <br>
		<span class="tx-warning tx-bold"> > STEP-2-5</span> 고객레이아웃 그리드에 필드가 추가된것을 확인하고 상단의 저장버튼을 클릭합니다. <br>
	</small>
	<div>
    	<img src="../../img/user/whib1-3.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
	<div class="mg-b-20">
    	<img src="../../img/user/whib1-4.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    
    
    <small>
		<span class="tx-warning tx-bold"> > STEP-3</span> 다운로드할 형식을 그리드에서 선택후 상단의 엑셀버튼을 클릭하여 형식을 다운로드합니다. <br>
	</small>
	<div class="mg-b-20">
    	<img src="../../img/user/whib1-5.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    
    <small>
		<span class="tx-warning tx-bold"> > STEP-4</span> 다운로드한 파일을 열어 2행부터 입고예정정보를 입력합니다. <br>
	</small>
	<div class="mg-b-10">
    	<img src="../../img/user/whib1-6.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
	
	<div class="az-content-label mg-t-10">※ 필드설명 - 품목코드</div>
    <small> 
    	해당 고객에 맞는 품목코드를 입력합니다. 품목코드가 맞지 않은 행은 저장처리시 저장되지 않습니다.<br>
    </small>
    
    <div class="az-content-label mg-t-20">※ 필드설명2 - 입고일자</div>
    <small> 
    	YYYYMMDD형식(ex 20200805)으로 입력합니다. 빈칸으로 업로드시 시스템 현재날짜로 처리됩니다.
    </small>
    
    <div class="az-content-label mg-t-20">※ 필드설명3 - 입고유형</div>
    <small> 
    	일반입고(I1), 반품입고(I2) 중 하나를 입력합니다. 빈칸으로 업로드시 일반입고(I1)로 처리됩니다.
    </small>
    
    <div class="mg-b-20">
    </div>
    
    
    <small>
		<span class="tx-warning tx-bold"> > STEP-5</span> [고객 레이아웃]화면의 그리드 목록에서 형식을 더블클릭 또는 선택후 상단의 선택버튼을 클릭합니다. <br>
	</small>
	<div class="mg-b-20">
    	<img src="../../img/user/whib1-7.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    
    <small>
		<span class="tx-warning tx-bold"> > STEP-6</span> [입고예정]화면의 하단에 선택한 형식이 입력되었는지 확인하고 아래의 찾기 버튼을 클릭합니다. <br>
	</small>
	<div class="mg-b-20">
    	<img src="../../img/user/whib1-8.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    
    <small>
		<span class="tx-warning tx-bold"> > STEP-7</span> 나타나는 파일찾기 팝업창에서 업로드할 엑셀 파일을 선택합니다. <br>
		<span class="tx-danger tx-bold"> ※ 파일찾기 팝업창은 브라우져별로 화면이 다를 수 있습니다.</span>
	</small>
	<div class="mg-b-20">
    	<img src="../../img/user/whib1-9.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
    
    <small>
		<span class="tx-warning tx-bold"> > STEP-8</span> 그리드에서 저장할 행을 체크하고 상단의 저장(F4)버튼을 클릭합니다. <br>
	</small>
	<div class="mg-b-20">
    	<img src="../../img/user/whib1-10.png" class="img-thumbnail wd-100p wd-sm-800" alt="Responsive image">
    </div>
</div>

